.form-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@include vp-1199 {
  .form-contact {
  display: flex;
  flex-direction: column;
  }
}

@include vp-767 {
  .form-contact {
    display: flex;
    flex-direction: column;
    }
}
