.gym {
padding-top: 120px;
}

.gym__wrapper-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 120px;
}

.gym__wrapper {
  width: 400px;
  margin-right: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gym__title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 40px;
  color: $primary-blue;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 1.44px;
}

.gym__text {
  margin: 0;
  margin-bottom: 50px;
  font-family: $ff-roboto;
  color: $primary-blue;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.gym__description {
  margin: 0;
  margin-bottom: 10px;
  font-family: $ff-roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: $primary-blue;
}

.gym__image-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.gym__image {
  display: block;
  background-color: $primary-red;
  width: 660px;
  height: 401px;
}

.gym__video-box {
  position: absolute;
  top: 300px;
  left: -63px;
  z-index: 2;
}

.gym__video {
  max-width: 100%;
  height: auto;
  background-color: $primary-red;
}

.gym__button {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  top: 60px;
  left: 120px;
  border-radius: 50%;
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    top: 14px;
    left: 14px;
    border-radius: 50%;
    background-color: $color-default-black;
  }
}
