.main-header {
  padding-top: 30px;
}

.main-header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-header__phone {
  margin: 0;
  display: block;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.78px;
}

@include vp-1199 {
  .main-header {
    padding-top: 40px;
  }

  .main-header__phone {
    margin: 0;
    display: block;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.48px;
  }
}

@include vp-767 {
  .main-header {
    padding-top: 15px;
  }

  .main-header__phone {
    margin: 0;
    display: block;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
}
