.main-footer {
  background-color: $primary-black;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-footer__logo {
  margin: 0;
  margin-top: 45px;
  width: 88px;
  height: 32px;
}

@include vp-1199 {
  .main-footer__logo {
    margin: 0;
    margin-top: 45px;
    width: 82px;
    height: 18px;
  }
}

@include vp-767 {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 70px
  }

  .main-footer__logo {
    margin: 0;
    margin-top: 45px;
    width: 68px;
    height: 15px;
  }
}
