.mainpage {
  color: $color-default-white;
  background-color: $primary-red;
  margin-bottom: 120px;

  @include conic-gradient(130.31deg, calc(50% - 465px) 257px);

  @include vp-1365 {
    @include conic-gradient(130.31deg, 160px 257px);
  }

  @include vp-1199 {
    @include conic-gradient(139.4deg, 160px 198px);
  }

   @include vp-767 {
     @include conic-gradient(171.43deg, 113px 168px);
  }
 }
