.promotions {
  color: $primary-blue;
}

.promotions__title {
  margin: 0;
  margin-bottom: 55px;
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 1.62px;
  text-align: center;
}

.promotions__box-wrapper {
  display: flex;
  flex-direction: row;
}

.promotions__wrapper {
  display: flex;
  flex-direction: column;
  padding: 35px;
  width: 280px;
  font-family: $ff-roboto;
  color: $color-default-white;
  background-color: $primary-red;
}

.promotions__unit {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
}

.promotions__value {
  margin: 0;
  margin-bottom: 35px;
  font-size: 70px;
  font-weight: 700;
  line-height: 110px;
}

.promotions__description {
  margin: 0;
  margin-bottom: 200px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px
}

.promotions__button {
  color: $color-default-white;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: underline;

  &--light {
    color: $special-blue;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.6px;
  }
}

.promotion__box{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.promotions__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.promotions__item {
  color: $special-blue;
  font-family: $ff-roboto;
  padding: 35px 125px 35px 35px;
  border-width: 7px;
  border-style: solid;
  border-image: linear-gradient(180deg, $other-red 0%, $other-dark-blue 100%) 1;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.promotions__subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
}

.promotions__text {
  margin: 0;
  margin-bottom: 80px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
