.questions {
  padding-top: 120px;
  background-color: $secondary-white;
  color: $primary-blue;
}

.questions__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 1.62px;
}

.questions__subtitle {
font-family: $ff-roboto;
font-size: 24px;
font-weight: 500;
line-height: 29px;
}

.questions__description {
  font-family: $ff-roboto;
  font-size: 18px;
font-weight: 300;
line-height: 25px;
}


