@font-face {
  font-family: 'Alumni Sans';
  src: url('../../fonts/AlumniSans-SemiBold.woff2') format('woff2'),
      url('../../fonts/AlumniSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
